---
import Layout from "../../layouts/Layout.astro"
import Events from "@/components/Events.astro"
import { getLangFromUrl } from "@/i18n/utils"
import { getCollection } from "astro:content"
import { Treffs } from "@/components/Treffs"

const lang = getLangFromUrl(Astro.url)
const news = (await getCollection("news")).filter((item) =>
  item.slug.startsWith(`${lang}/`),
)
---

<Layout description="All creatures welcome!">
  <div>
    <h1>Chaostreff Osnabrück e.V. – All creatures welcome!</h1>

    <p>
      Are you interested in security, alternative operating systems, free
      (libre) software and network politics? Welcome to the{" "}
      <b>Chaostreff Osnabrück e.V.</b>, your hub for all those who want to hack
      and shape the world.
    </p>

    <p>
      <b>Our mission:</b> We are a group of hackers and tech geeks who meet regularly
      to share ideas and develop projects. Everyone is welcome, whether you are experienced
      or curious.
    </p>
    <p>
      <b>Join us!</b> Visit our meetings and be part of our chaotic troop. We look
      forward to meeting you!
    </p>

    <h2 id="news">News</h2>

    <ul>
      {
        news
          .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
          .map((item) => {
            const [lang, ...slug] = item.slug.split("/")

            return (
              <li>
                <a href={`/${lang}/news/${slug.join("/")}/`}>
                  {new Date(item.data.date).toLocaleDateString(lang, {
                    dateStyle: "medium",
                  })}{" "}
                  - {item.data.title}
                </a>
              </li>
            )
          })
      }
    </ul>

    <h2 id="meetings">Meetings</h2>

    Every Thursday we meet at <b>19:00</b> in the{" "}
    <a href={`/en/hackspace#directions`}>
      AStA of the University of Osnabrück, Alte Münze 12, 49074 Osnabrück</a
    >
    in our Hackspace Rabbithole.

    <Treffs className="mt-4" lang={getLangFromUrl(Astro.url)} />

    <h2 id="events">Events</h2>

    All events of the next month can be viewed online and are available as an
    iCalendar subscription or as an .ics file: <a
      href=`/en/calendar.ics`
      rel="noreferer"
      target="_blank"
    >
      our calendar</a
    >.

    <Events class:list={["mt-4"]} type="upcoming" displayType="landing-page" />

    <p><a href="/en/about#past-events">Past events</a></p>

    <h2 id="chatroom">Chatroom</h2>

    We chat regularly in our{" "}
    <a
      href="https://matrix.to/#/#public_ctreffos:chaostreff-osnabrueck.de"
      rel="noreferer"
      target="_blank"
    >
      public Matrix room</a
    >.
  </div>
</Layout>
