---
import Layout from "../../../layouts/Layout.astro"
---

<Layout title="Donate" description="Donate to the Chaostreff Osnabrueck e.V.">
  <div>
    <h1>Donate</h1>

    <p>
      We are very happy that you want to support us financially! The projects of
      the Chaostreff Osnabrueck e.V. are only possible through the contributions
      of our members, sponsorships and donations. The
      <a href="mailto:schatzmeister@chaostreff-osnabrueck.de">treasurer team</a>
      helps you if you have any questions.
    </p>

    <p>
      <strong>Thanks! &lt;3</strong>
    </p>

    <h4>Donate via wire transfer</h4>
    <ul>
      <li>Freely selectable contribution</li>
      <li>One-time or regular (recurring contract)</li>
      <li>
        We send you the bank details{" "}
        <a
          href="mailto:schatzmeister@chaostreff-osnabrueck.de?subject=Anfrage%20Kontodaten%20zwecks%20Spende&body=Hallo,%0D%0Abitte%20sendet%20mir%20eure%20Bankverbindung%20zu.%0D%0AVielen%20Dank%20im%20Voraus!"
        >
          by email</a
        >.
      </li>
    </ul>

    <h4>Donate via PayPal</h4>
    <ul>
      <li>Freely selectable contribution</li>
      <li>One-time or regular</li>
      <li>
        Donate with a few clicks via{" "}
        <a
          href="https://www.paypal.com/donate?hosted_button_id=AKT457NDPPH4J"
          rel="noreferer"
          target="_blank"
        >
          PayPal</a
        >.
      </li>
      <li>
        <i>
          Information: PayPal holds 1,5 % of the donation amount as well as 0,35
          € per transaction
        </i>
      </li>
    </ul>

    <h4>Become a sponsor</h4>
    <ul>
      <li>Freely selectable contribution (at least 60 € per year)</li>
      <li>
        Fill out the
        <a
          href="https://github.com/CTreffOS/Verwaltung/raw/master/Formulare/foerdermitgliedsantrag.pdf"
          rel="noreferer"
          target="_blank"
        >
          application for sponsorship</a
        >.
      </li>
      <li>
        Send us your application
        <a href="mailto:schatzmeister@chaostreff-osnabrueck.de">by email</a> or postal
        mail to the address in the application.
      </li>
    </ul>
  </div>
</Layout>
