---
import Layout from "../../../layouts/Layout.astro"
---

<Layout title="Donate" description="Donate to the Chaostreff Osnabrück e.V.">
  <div>
    <h1>Donate</h1>

    <p>
      We are very happy that you want to support us financially! The projects of
      the Chaostreff Osnabrück e.V. are only possible through the contributions
      of our members, subsidies and donations. The
      <a href="mailto:schatzmeister@chaostreff-osnabrueck.de">treasurer team</a>
      helps you if you have any questions.
    </p>

    <p>
      <strong>Thanks! &lt;3</strong>
    </p>

    <h4>Donate via wire transfer</h4>
    <ul>
      <li>Freely selectable contribution</li>
      <li>One-time or recurring transaction</li>
      <li>
        We send you the bank details{" "}
        <a
          href="mailto:schatzmeister@chaostreff-osnabrueck.de?subject=Enquiry%20Bank%20Details%20for%20Donation&body=Hello,%0D%0Aplease%20send%20me%20your%20bank%20details.%0D%0AThanks%20in%20advance!"
        >
          by email</a
        >.
      </li>
    </ul>

    <h4>Donate via PayPal</h4>
    <ul>
      <li>Freely selectable contribution</li>
      <li>One-time or recurring transaction</li>
      <li>
        Donate with few clicks via{" "}
        <a
          href="https://www.paypal.com/donate?hosted_button_id=AKT457NDPPH4J"
          rel="noreferer"
          target="_blank"
        >
          PayPal</a
        >.
      </li>
      <li>
        <i>
          Information: PayPal keeps 1,5 % of the donation amount as well as 0,35
          € per transaction
        </i>
      </li>
    </ul>

    <h4>Become a sponsor</h4>
    <ul>
      <li>Freely selectable contribution (at least 60 € per year)</li>
      <li>
        Fill out the
        <a
          href="https://github.com/CTreffOS/Verwaltung/raw/master/Formulare/foerdermitgliedsantrag.pdf"
          rel="noreferer"
          target="_blank"
        >
          application for sponsor membership</a
        >.
      </li>
      <li>
        Send us your application
        <a href="mailto:schatzmeister@chaostreff-osnabrueck.de">by email</a> or postal
        mail to the address in the site notice.
      </li>
    </ul>
  </div>
</Layout>
