---
import { getLangFromUrl } from "../i18n/utils"
import Head from "../components/Head.astro"
import "@/styles/globals.css"
import Footer from "../components/Footer.astro"
import Navigation from "../components/Navigation.astro"

const { title, description } = Astro.props

const lang = getLangFromUrl(Astro.url)
const { frontmatter } = Astro.props
---

<html lang={lang}>
  <Head
    title={title ?? frontmatter?.title}
    description={description ?? frontmatter?.description}
  />
  <body>
    <div class="min-h-screen flex sm:justify-center px-3">
      <div class="flex flex-col min-h-screen">
        <Navigation />
        <main
          class="flex flex-col md:max-w-2xl row-start-2 prose dark:prose-invert"
        >
          <slot />
        </main>
        <Footer />
      </div>
    </div>
  </body>
</html>
